<?xml version="1.0" encoding="UTF-8"?> 
<java version="1.6.0_33" class="java.beans.XMLDecoder"> 
 <object class="com.xk72.charles.config.CharlesConfiguration"> 
  <void property="accessControlConfiguration"> 
   <void property="ipRanges"> 
    <void method="add"> 
     <object class="com.xk72.charles.lib.IPRange"> 
      <void property="ip"> 
       <array class="int" length="4"/> 
      </void> 
      <void property="mask"> 
       <array class="int" length="4"/> 
      </void> 
     </object> 
    </void> 
   </void> 
  </void> 
  <void property="proxyConfiguration"> 
   <void property="SSLLocations"> 
    <void property="locationPatterns"> 
     <void method="add"> 
      <object class="com.xk72.charles.lib.DefaultLocationMatch"> 
       <void property="location"> 
        <object class="com.xk72.net.Location"> 
         <void property="host"> 
          <string>www.google.com</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
    </void> 
   </void> 
   <void property="transparentProxy"> 
    <boolean>true</boolean> 
   </void> 
  </void> 
  <void property="recordingConfiguration"> 
   <void property="ignoreHosts"> 
    <void property="locationPatterns"> 
     <void method="add"> 
      <object class="com.xk72.charles.lib.DefaultLocationMatch"> 
       <void property="location"> 
        <object class="com.xk72.net.Location"> 
         <void property="host"> 
          <string>www.yahoo.com</string> 
         </void> 
         <void property="protocol"> 
          <string></string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
    </void> 
   </void> 
  </void> 
  <void property="registrationConfiguration"> 
   <void property="key"> 
    <string>{LICENSE_KEY}</string> 
   </void> 
   <void property="name"> 
    <string>{LICENSE_NAME}</string> 
   </void> 
  </void> 
  <void property="startupConfiguration"> 
   <void property="currentDirectory"> 
    <string>{OUTPUT_DIR}</string> 
   </void> 
   <void property="lastCheckUpdates"> 
    <object class="java.util.Date"> 
     <long>1345328864117</long> 
    </object> 
   </void> 
   <void property="mainWindow"> 
    <object class="java.awt.Rectangle"> 
     <int>8</int> 
     <int>22</int> 
     <int>761</int> 
     <int>511</int> 
    </object> 
   </void> 
  </void> 
  <void property="throttlingConfiguration"> 
   <void property="bandwidthDown"> 
    <double>256.0</double> 
   </void> 
   <void property="bandwidthUp"> 
    <double>256.0</double> 
   </void> 
   <void property="latency"> 
    <int>4000</int> 
   </void> 
   <void property="mtu"> 
    <int>1500</int> 
   </void> 
   <void property="utilisationDown"> 
    <int>100</int> 
   </void> 
   <void property="utilisationUp"> 
    <int>100</int> 
   </void> 
  </void> 
  <void property="toolConfiguration"> 
   <void property="configs"> 
    <void method="put"> 
     <string>Map Remote</string> 
     <object class="com.xk72.charles.tools.MapTool$MapConfiguration"/> 
    </void> 
    <void method="put"> 
     <string>Auto Save</string> 
     <object class="com.xk72.charles.tools.AutoSaveTool$AutoSaveConfiguration"/> 
    </void> 
    <void method="put"> 
     <string>Reverse Proxies</string> 
     <object class="com.xk72.charles.tools.ReverseProxiesTool$ReverseProxiesConfiguration"/> 
    </void> 
    <void method="put"> 
     <string>Block Cookies</string> 
     <object class="com.xk72.charles.tools.lib.SelectedHostsToolConfiguration"/> 
    </void> 
    <void method="put"> 
     <string>Mirror</string> 
     <object class="com.xk72.charles.tools.MirrorTool$MirrorConfiguration"/> 
    </void> 
    <void method="put"> 
     <string>DNS Spoofing</string> 
     <object class="com.xk72.charles.tools.DNSSpoofingTool$DNSSpoofingConfiguration"/> 
    </void> 
    <void method="put"> 
     <string>Port Forwarding</string> 
     <object class="com.xk72.charles.tools.PortForwardingTool$PortForwardingConfiguration"/> 
    </void> 
    <void method="put"> 
     <string>Breakpoints</string> 
     <object class="com.xk72.charles.tools.breakpoints.BreakpointsTool$BreakpointsConfiguration"/> 
    </void> 
    <void method="put"> 
     <string>Client Process</string> 
     <object class="com.xk72.charles.tools.lib.SelectedHostsToolConfiguration"/> 
    </void> 
    <void method="put"> 
     <string>Rewrite</string> 
     <object class="com.xk72.charles.tools.rewrite.RewriteConfiguration"/> 
    </void> 
    <void method="put"> 
     <string>Map Local</string> 
     <object class="com.xk72.charles.tools.MapLocalTool$MapLocalConfiguration"/> 
    </void> 
    <void method="put"> 
     <string>Black List</string> 
     <object class="com.xk72.charles.tools.BlacklistTool$BlacklistConfiguration"/> 
    </void> 
    <void method="put"> 
     <string>No Caching</string> 
     <object class="com.xk72.charles.tools.lib.SelectedHostsToolConfiguration"/> 
    </void> 
   </void> 
  </void> 
  <void property="userInterfaceConfiguration"> 
   <void property="displayFont"> 
    <string>Default</string> 
   </void> 
   <void property="lookAndFeel"> 
    <string>Mac OS X</string> 
   </void> 
   <void property="promptToSaveSessions"> 
    <boolean>true</boolean> 
   </void> 
   <void property="properties"> 
    <void method="put"> 
     <string>sequence.maxTransactions</string> 
     <int>0</int> 
    </void> 
    <void method="put"> 
     <string>SessionFrame.splitPlane.dividerLocation.vertical</string> 
     <int>433</int> 
    </void> 
    <void method="put"> 
     <string>SessionFrame.navTabs.mode</string> 
     <string>Sequence</string> 
    </void> 
    <void method="put"> 
     <string>NavigatorJTable.TABLE_COLUMN_STATES</string> 
     <object class="com.xk72.charles.gui.lib.MemoryJTable$ColumnStates"> 
      <void property="positions"> 
       <array class="int" length="9"> 
        <void index="1"> 
         <int>1</int> 
        </void> 
        <void index="2"> 
         <int>2</int> 
        </void> 
        <void index="3"> 
         <int>3</int> 
        </void> 
        <void index="4"> 
         <int>4</int> 
        </void> 
        <void index="5"> 
         <int>5</int> 
        </void> 
        <void index="6"> 
         <int>6</int> 
        </void> 
        <void index="7"> 
         <int>7</int> 
        </void> 
        <void index="8"> 
         <int>8</int> 
        </void> 
       </array> 
      </void> 
      <void property="sizes"> 
       <array class="double" length="9"> 
        <void index="0"> 
         <double>0.01583710407239819</double> 
        </void> 
        <void index="1"> 
         <double>0.051181102362204724</double> 
        </void> 
        <void index="2"> 
         <double>0.058069381598793365</double> 
        </void> 
        <void index="3"> 
         <double>0.20615964802011313</double> 
        </void> 
        <void index="4"> 
         <double>0.5104241552839683</double> 
        </void> 
        <void index="5"> 
         <double>0.05128205128205128</double> 
        </void> 
        <void index="6"> 
         <double>0.05580693815987934</double> 
        </void> 
        <void index="7"> 
         <double>0.08220211161387632</double> 
        </void> 
        <void index="8"> 
         <double>0.008246289169873557</double> 
        </void> 
       </array> 
      </void> 
     </object> 
    </void> 
    <void method="put"> 
     <string>SessionFrame.splitPlane.dividerLocation.horizontal</string> 
     <int>379</int> 
    </void> 
    <void method="put"> 
     <string>sequence.filterRegex</string> 
     <boolean>false</boolean> 
    </void> 
   </void> 
   <void property="showMemoryUsage"> 
    <boolean>true</boolean> 
   </void> 
   <void property="warningsSeen"> 
    <void method="put"> 
     <string>mozilla.extension</string> 
     <boolean>true</boolean> 
    </void> 
   </void> 
  </void> 
 </object> 
</java> 
